<!DOCTYPE html>
<html lang="pt-br">
<head>




</head>
<body>
  <form action="curriculo.php" nmethod="POST"
    <h1>Curriculo</h1>
    <h4>Dados Pessoais</h4>
    <p>Nome:<input type="text" required></p></br>
    <p>Telefone:<input type="text"required></p></br>
    <p>Email:<input type="email"required></p></br>
    <p>Endereço:<input type="text"required></p></br>
    <hr>
    <h4>Escolaridade</h4>
    Ensino Fundamental Completo<input type="checkbox"></br>
    Ensino Medio Completo<input type="checkbox"></br>
    Ensino Superior Completo<input type="checkbox"></br>
    Pos-Graduaçao Completo<input type="checkbox"></br>
    Mestrado Completo<input type="checkbox"></br>
    <hr>
    <h4>Experiencia Profissional</h4>
     <p>Empresa:<input type="text"required></p></br>
     <p>Data de Admissao:<input type="date"required></p></br>
     <p>Data de Demissao:<input type="date"required></p></br>
     <p>Atividade exercida:<input type=""required></p></br>
    <hr>
    <h4>Cursos e idiomas</h4>
     <p>Descricao:<input type="text"required></p></br>
     <p>Horas:<input type="text"required></p></br>
     <p>Ano de conclusao:<input type="date"required></p></br>
    <hr>
    <h4>informaçoes adicionais</h4>
    <p>informaçoes Adicionais:<input type="text"required></p></br>
    <imput type="submit" value="cadastrar">
    
</form>

</body>
</html>
